dev/pug/detailed-news.pug
html
    head
        title Заголовок
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" href="css/slick.css")
        link(rel="stylesheet" href="css/slick-theme.css")
        link(rel="stylesheet" href="css/style.css")
    body
        .content-section
            a(href="#").link__back Назад
        .content-section.content-section-detailed
            .section__action-panel
                .section__action__social
                    a(href="#").section__action__item
                        .section__action__icon
                            img(src="img/icons/fb.svg")
                        .section__action__text Поделиться
                    a(href="#").section__action__icon.section__action__item
                        img(src="img/icons/vk.svg")
                    a(href="#").section__action__icon.section__action__item
                        img(src="img/icons/whatsApp.svg")
                    a(href="#").section__action__icon.section__action__item
                        img(src="img/icons/teleg.svg")
                .section__action-buttons
                    a(href="#").section__action__item
                        .section__action__icon
                            img(src="img/icons/next.svg")
                        .section__action__text Следующая новость
                    a(href="#").section__action__item
                        .section__action__icon
                            img(src="img/icons/prev.svg")
                        .section__action__text Предыдущая новость
            .section__main__image
                img(src="img/detailed-news-main.png")
            .title__section ЖК “Юнтолово” и школа №469 в ЖК “Северная долина” признаны лидерами строительного качества
            .section__text__info-news 29 сен 2020 / Награды
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__image__wrapper
                .image__wrapper
                    img(src="img/card-1.png")
                .image__wrapper
                    img(src="img/card-2.png")
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__bold Две награды конкурса «Лидер строительного качества».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .video__wrapper
                iframe(width="100%" height="100%" src="https://www.youtube.com/embed/j0GEYOCCr4U")
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .key-phrase__wrapper В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020».  Школа №469 отмечена Гран-при как лучший объект социального назначения.
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .main-slider.main-slider__news
                .slide
                    img(src="img/slider/slide-1.png")
                .slide
                    img(src="img/slider/slide-1.png")
                .slide
                    img(src="img/slider/slide-1.png")
                .slide
                    img(src="img/slider/slide-1.png")
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .line__wrapper
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .quote__wrapper ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства», в Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469.
                .quote__author
                    .author__img
                        img(src="img/author.png")
                    .author__name Иванов Иван
                    .author__position Директор директоров
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            .section__text__p В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».
            a(href="#").section__text__link Изменения в проектные декларации
            a(href="#").section__text__link Разрешения на ввод в эксплуатацию
            .social__panel-mob
                .social__panel__text Поделиться
                a(href="#").social__btn
                    img(src="img/icons/fb.svg")
                a(href="#").social__btn
                    img(src="img/icons/vk.svg")
                a(href="#").social__btn
                    img(src="img/icons/whatsApp.svg")
                a(href="#").social__btn
                    img(src="img/icons/teleg.svg")
            .action__panel-mob
                a(href="#").action__item
                    .action__icon
                        img(src="img/icons/prev.svg")
                    .action__text Предыдущая новость
                a(href="#").action__item
                    .action__text Следующая новость
                    .action__icon
                        img(src="img/icons/next.svg")
        .content-section
            include content/mailing-form
            .section__text__p.section__text__bold Читайте также
            .news__items
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-1.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Награды
                    .news__title «Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-2.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Награды
                    .news__title ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-3.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Старт продаж
                    .news__title «Главстрой Санкт-Петербург» открыл продажи шестой очереди ЖК «Юнтолово»
                a(href="#").news__item
                    .news__img__wrapper
                        img(src="img/card-4.png")
                    .news__info
                        span.news__date 29 сен 2020
                        | /
                        span.new__category Награды
                    .news__title ЖК «Юнтолово» — лучший региональный проект стандартного жилья в России
            .title__section Популярные квартиры
            .cards__section
                include content/cards
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
        script(src="js/slick.min.js")
        script(src="js/slick-init.js")

public/detailed-news.html

<html>
  <head>
    <title>Заголовок</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="css/fonts.css"/>
    <link rel="stylesheet" href="css/slick.css"/>
    <link rel="stylesheet" href="css/slick-theme.css"/>
    <link rel="stylesheet" href="css/style.css"/>
  </head>
  <body>
    <div class="content-section"><a class="link__back" href="#">Назад</a></div>
    <div class="content-section content-section-detailed">
      <div class="section__action-panel">
        <div class="section__action__social"><a class="section__action__item" href="#">
            <div class="section__action__icon"><img src="img/icons/fb.svg"/></div>
            <div class="section__action__text">Поделиться</div></a><a class="section__action__icon section__action__item" href="#"><img src="img/icons/vk.svg"/></a><a class="section__action__icon section__action__item" href="#"><img src="img/icons/whatsApp.svg"/></a><a class="section__action__icon section__action__item" href="#"><img src="img/icons/teleg.svg"/></a></div>
        <div class="section__action-buttons"><a class="section__action__item" href="#">
            <div class="section__action__icon"><img src="img/icons/next.svg"/></div>
            <div class="section__action__text">Следующая новость</div></a><a class="section__action__item" href="#">
            <div class="section__action__icon"><img src="img/icons/prev.svg"/></div>
            <div class="section__action__text">Предыдущая новость</div></a></div>
      </div>
      <div class="section__main__image"><img src="img/detailed-news-main.png"/></div>
      <div class="title__section">ЖК “Юнтолово” и школа №469 в ЖК “Северная долина” признаны лидерами строительного качества</div>
      <div class="section__text__info-news">29 сен 2020 / Награды</div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="section__image__wrapper">
        <div class="image__wrapper"><img src="img/card-1.png"/></div>
        <div class="image__wrapper"><img src="img/card-2.png"/></div>
      </div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="section__text__bold">Две награды конкурса «Лидер строительного качества».</div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="video__wrapper">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/j0GEYOCCr4U"></iframe>
      </div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="key-phrase__wrapper">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020».  Школа №469 отмечена Гран-при как лучший объект социального назначения.</div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="main-slider main-slider__news">
        <div class="slide"><img src="img/slider/slide-1.png"/></div>
        <div class="slide"><img src="img/slider/slide-1.png"/></div>
        <div class="slide"><img src="img/slider/slide-1.png"/></div>
        <div class="slide"><img src="img/slider/slide-1.png"/></div>
      </div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="line__wrapper"></div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="quote__wrapper">ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства», в Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469.
        <div class="quote__author">
          <div class="author__img"><img src="img/author.png"/></div>
          <div class="author__name">Иванов Иван</div>
          <div class="author__position">Директор директоров</div>
        </div>
      </div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div>
      <div class="section__text__p">В Санкт-Петербурге подведены итоги конкурса «Лидер строительного качества — 2020». Общеобразовательная школа №469, открывшаяся в сентябре 2019 года в ЖК «Северная долина», отмечена Гран-при как лучший объект социального назначения. ЖК «Юнтолово» награжден дипломом I степени в номинации «Лучший реализованный объект малоэтажного строительства».</div><a class="section__text__link" href="#">Изменения в проектные декларации</a><a class="section__text__link" href="#">Разрешения на ввод в эксплуатацию</a>
      <div class="social__panel-mob">
        <div class="social__panel__text">Поделиться</div><a class="social__btn" href="#"><img src="img/icons/fb.svg"/></a><a class="social__btn" href="#"><img src="img/icons/vk.svg"/></a><a class="social__btn" href="#"><img src="img/icons/whatsApp.svg"/></a><a class="social__btn" href="#"><img src="img/icons/teleg.svg"/></a>
      </div>
      <div class="action__panel-mob"><a class="action__item" href="#">
          <div class="action__icon"><img src="img/icons/prev.svg"/></div>
          <div class="action__text">Предыдущая новость</div></a><a class="action__item" href="#">
          <div class="action__text">Следующая новость</div>
          <div class="action__icon"><img src="img/icons/next.svg"/></div></a></div>
    </div>
    <div class="content-section">
      <div class="mailing-form__wrapper">
        <div class="mailing-form__text">Подписаться на рассылку</div>
        <div class="mailing-form__title">Будьте в курсе всех акций</div>
        <form class="mailing-form" action="#">
          <div class="input__wrapper">
            <input type="text" placeholder="Введите E-mail"/>
          </div>
          <input class="button" type="submit" value="Подписаться"/>
        </form>
      </div>
      <div class="section__text__p section__text__bold">Читайте также</div>
      <div class="news__items"><a class="news__item" href="#">
          <div class="news__img__wrapper"><img src="img/card-1.png"/></div>
          <div class="news__info"><span class="news__date">29 сен 2020</span>/<span class="new__category">Награды</span></div>
          <div class="news__title">«Главстрой Санкт-Петербург» вошел в число финалистов в конкурсе «Доверие потребителя»</div></a><a class="news__item" href="#">
          <div class="news__img__wrapper"><img src="img/card-2.png"/></div>
          <div class="news__info"><span class="news__date">29 сен 2020</span>/<span class="new__category">Награды</span></div>
          <div class="news__title">ЖК «Юнтолово» и школа №469 в ЖК «Северная долина» признаны лидерами строительного качества</div></a><a class="news__item" href="#">
          <div class="news__img__wrapper"><img src="img/card-3.png"/></div>
          <div class="news__info"><span class="news__date">29 сен 2020</span>/<span class="new__category">Старт продаж</span></div>
          <div class="news__title">«Главстрой Санкт-Петербург» открыл продажи шестой очереди ЖК «Юнтолово»</div></a><a class="news__item" href="#">
          <div class="news__img__wrapper"><img src="img/card-4.png"/></div>
          <div class="news__info"><span class="news__date">29 сен 2020</span>/<span class="new__category">Награды</span></div>
          <div class="news__title">ЖК «Юнтолово» — лучший региональный проект стандартного жилья в России</div></a></div>
      <div class="title__section">Популярные квартиры</div>
      <div class="cards__section">
        <div class="cards__items__wrapper">
          <div class="card__wrapper">
            <div class="card__image__wrapper">
              <div class="card__image__info">
                <div class="card__image__corp">
                  <div class="corp">13</div>
                  <div>Корпус</div>
                </div>
                <div class="card__image__standart">Новый стандарт  отделки</div>
              </div>
              <div class="card__image"><img src="img/card-plan-1.png"/></div>
            </div>
            <div class="card__title">Студия № 308</div>
            <div class="card__subtitle">16 очередь, 36 корпус, 20 этаж</div>
            <div class="card__row">
              <div class="card__cell-title">Ввод в эксплуатацию</div>
              <div class="card__cell-value">3 квартал 2020</div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Отделка</div>
              <div class="card__cell-value">Оптима</div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Площадь</div>
              <div class="card__cell-value">45.26 м<sup>2</sup></div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Цена за метр (с учетом скидки)</div>
              <div class="card__cell-value">108 500 ₽</div>
            </div>
            <div class="card__text-small card__text-gray">Базовая цена: 4 556 936 ₽</div>
            <div class="card__text-small card__text-gray">Базовая цена за метр: 123 890 ₽</div>
            <div class="card__text-small card__text-gray">Ваша выгода с учетом всех скидок: 676 890 ₽</div><a class="card__text-small card__text-green" href="#">Ипотека в месяц от: 26 890 ₽</a>
            <div class="card__row card__row-price">
              <div class="card__text-small">Цена с учетом скидки:</div>
              <div class="card__text--medium">2 150 578 ₽</div>
            </div><a class="button" href="#">Подробнее</a>
          </div>
          <div class="card__wrapper">
            <div class="card__image__wrapper">
              <div class="card__image__info">
                <div class="card__image__corp">
                  <div class="corp">14</div>
                  <div>Корпус</div>
                </div>
                <div class="card__image__standart">Новый стандарт  отделки</div>
              </div>
              <div class="card__image"><img src="img/card-plan-1.png"/></div>
            </div>
            <div class="card__title">Студия № 308</div>
            <div class="card__subtitle">16 очередь, 36 корпус, 20 этаж</div>
            <div class="card__row">
              <div class="card__cell-title">Ввод в эксплуатацию</div>
              <div class="card__cell-value">3 квартал 2020</div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Отделка</div>
              <div class="card__cell-value">Оптима</div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Площадь</div>
              <div class="card__cell-value">45.26 м<sup>2</sup></div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Цена за метр (с учетом скидки)</div>
              <div class="card__cell-value">108 500 ₽</div>
            </div>
            <div class="card__text-small card__text-gray">Базовая цена: 4 556 936 ₽</div>
            <div class="card__text-small card__text-gray">Базовая цена за метр: 123 890 ₽</div>
            <div class="card__text-small card__text-gray">Ваша выгода с учетом всех скидок: 676 890 ₽</div><a class="card__text-small card__text-green" href="#">Ипотека в месяц от: 26 890 ₽</a>
            <div class="card__row card__row-price">
              <div class="card__text-small">Цена с учетом скидки:</div>
              <div class="card__text--medium">3 050 678 ₽</div>
            </div><a class="button" href="#">Подробнее</a>
          </div>
          <div class="card__wrapper">
            <div class="card__image__wrapper">
              <div class="card__image__info">
                <div class="card__image__corp">
                  <div class="corp">14</div>
                  <div>Корпус</div>
                </div>
                <div class="card__image__standart">Новый стандарт  отделки</div>
              </div>
              <div class="card__image"><img src="img/card-plan-1.png"/></div>
            </div>
            <div class="card__title">Студия № 308</div>
            <div class="card__subtitle">16 очередь, 36 корпус, 20 этаж</div>
            <div class="card__row">
              <div class="card__cell-title">Ввод в эксплуатацию</div>
              <div class="card__cell-value">3 квартал 2020</div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Отделка</div>
              <div class="card__cell-value">Оптима</div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Площадь</div>
              <div class="card__cell-value">45.26 м<sup>2</sup></div>
            </div>
            <div class="card__row">
              <div class="card__cell-title">Цена за метр (с учетом скидки)</div>
              <div class="card__cell-value">108 500 ₽</div>
            </div>
            <div class="card__text-small card__text-gray">Базовая цена: 4 556 936 ₽</div>
            <div class="card__text-small card__text-gray">Базовая цена за метр: 123 890 ₽</div>
            <div class="card__text-small card__text-gray">Ваша выгода с учетом всех скидок: 676 890 ₽</div><a class="card__text-small card__text-green" href="#">Ипотека в месяц от: 26 890 ₽</a>
            <div class="card__row card__row-price">
              <div class="card__text-small">Цена с учетом скидки:</div>
              <div class="card__text--medium">3 050 678 ₽</div>
            </div><a class="button" href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/slick-init.js"></script>
  </body>
</html>
